.news-item {
  display: flex;
  padding-bottom: 25px;
  outline: none;
  color: $black;
  text-decoration: none;

  align-items: flex-start;
  justify-content: space-between;

  &__time {
    padding: 0 3px 3px 5px;
    background-color: #ffffff;
    text-align: center;
    font-family: $bold-font;
    font-size: 14px;
    line-height: 14px;

    span {
      display: block;
      color: #a1a1a1;
      font-family: Arial, sans-serif;
      font-size: 11px;
      line-height: 11px;
    }
  }

  &__picture {
    overflow: hidden;
    width: 50px;
    height: 50px;
    border-radius: 3px;
  }

  &__text {
    width: 185px;
    margin: 0;
    transform: translateY(-4px);
  }
}
