.news {
  width: 300px;
  margin: 50px auto 0;

  &__section {
    position: relative;
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;
    padding: 0 0 11px;
    border-bottom: 1px solid $gray;
    letter-spacing: 2px;
    font-size: 20px;
    line-height: 20px;
  }

  &__all-link {
    position: absolute;
    top: 0;
    right: 0;
    color: #c0c0c0;
    transition: color 0.3s ease;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $bold-font;
    font-size: 11px;
    line-height: 25px;

    will-change: color;

    &:hover {
      color: $black;
    }
  }

  &__container {
    position: relative;

    &::before {
      position: absolute;
      left: 20px;
      z-index: -1;
      width: 1px;
      height: 100%;
      background-color: $gray;
      content: "";
    }
  }
}
